body {
    background: rgb(131, 58, 180);
    background: linear-gradient(333deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-attachment: fixed;
}

.bcolor {
    background: black;
    padding-top: 3px;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.5;
    border-radius: 3px;
    max-height: 84vh;
    max-width: 34vw;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: rgb(187, 89, 253);
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 450px;
    transition: 0.3s;
    border-radius: 3px;
    margin-left: 280px;
}

.btn:hover {
    background-color: rgba(131, 58, 180, 1);
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px rgb(2, 0, 93);
}

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 8vw;
    height: 8vw;
    background-color: #eee;
    cursor: pointer;
    margin: 1px;
    border-radius: 2px;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
    box-shadow: none;
}

.timer {
    color: #eee;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 40px;
    font-size: 50px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.teal {
    background-color: teal;
}

.color-hidden {
    background-color: #eee;
}