body {
    background: rgb(131, 58, 180);
    background: linear-gradient(333deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-attachment: fixed;
}
.flexbox{
    display: flex;
    flex-direction: row;
    }
.btn {
    background-color: rgb(187, 89, 253);
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 553px;
    transition: 0.3s;
    border-radius: 3px;
    margin-right: 30px;
  }
  
  .btn:hover {
    background-color:rgba(131, 58, 180, 1) ;
    color: white;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1px rgb(2, 0, 93);
  }

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
    box-shadow: none;
}
.timer{
    margin-top: 10px;
   margin-left: 0px;
    font-size: 50px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.teal {
    background-color: teal;
}

.color-hidden {
    background-color: #eee;
}